html {
	min-width: 1120px;
}

body {
	font-family: OpenSansRegular, sans-serif;
	min-width:   1120px;
}

* {
	margin:     0;
	padding:    0;
	box-sizing: border-box;
}

.container {
	width:  1080px;
	margin: 0 auto;
}
