@import '../common/variables';

.footer {
	background-color: $dirtyWhite;
	width:            100%;
	height:           100%;
	padding-top:      65px;

	&__row {
		margin-bottom:   60px;
		display:         flex;
		flex-direction:  row;
		justify-content: space-between;
	}

	&__left,
	&__right {
		display: inline-block;
	}

	&__dns {
		background: url('./../img/footer-dns-logo.png') no-repeat center;
		width:      228px;
		height:     25px;
		display:    inline-block;
	}

	&__tronsmart {
		background: url('./../img/footer-tronsmart-logo.png') no-repeat center;
		width:      125px;
		height:     18px;
		display:    inline-block;
	}

	&__copyright {
		font-family: OpenSansLight;
		font-weight: bold;
		font-size:   16px;
		line-height: 65px;
	}
}
