@keyframes rotor {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(360deg)
	}
}

@keyframes arrow-01 {
	0% {
		opacity: 0
	}

	100%,20% {
		opacity: 1
	}
}

@keyframes arrow-02 {
	20% {
		opacity: 0
	}

	100%,40% {
		opacity: 1
	}
}

@keyframes arrow-03 {
	40% {
		opacity: 0
	}

	100%,60% {
		opacity: 1
	}
}

@keyframes arrow-04 {
	60% {
		opacity: 0
	}

	100%,80% {
		opacity: 1
	}
}

@keyframes vibe-00 {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

@keyframes vibe-01 {
	0% {
		opacity: 0
	}

	100%,33% {
		opacity: 1
	}
}

@keyframes vibe-02 {
	33% {
		opacity: 0
	}

	100%,66% {
		opacity: 1
	}
}

@keyframes vibe-03 {
	66% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

@keyframes vibe-04 {
	0% {
		opacity: 0
	}

	100%,33% {
		opacity: 1
	}
}

@keyframes vibe-05 {
	33% {
		opacity: 0
	}

	100%,66% {
		opacity: 1
	}
}

@keyframes vibe-06 {
	66% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}
